<p>rooms works!</p>
<h2>welcome to {{hotelName}}</h2>

<button (click)="toggleRooms()">toggle</button>
<div [hidden]="hiddenRooms">
    <h3>Rooms : </h3>
    <div [ngStyle]="{'color':rooms.availableRooms>0?'green':'red'}" [innerText]="numberOfRooms"></div>
</div>

<!-- {{rooms?.availableRooms ??"No rooms available"}} -->

<div *ngIf="rooms.availableRooms > 0 ">
    <h3>Available Rooms : </h3>
    <div [innerText]="rooms.availableRooms"></div>
    <h1>from app-rooms-list</h1>
    <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [title]="title"></app-rooms-list>
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>


<div><button (click)="addRoom()">Add room</button></div>
<!-- {{roomList | json}} -->